In [1]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

In [2]:
#1
len(students)

14

In [19]:
#2
light = len([student['student'] for student in students \
             if student['coffee_preference'] == 'light'])
print("%s students prefer light coffee" % light)

3 students prefer light coffee

In [142]:
#2b
medium = len([student['student'] for student in students \
              if student['coffee_preference'] == 'medium'])
print("%s students prefer medium coffee" % medium)
print("{} students prefer medium coffee".format(medium))
print(f"{medium} students prefer medium coffee")

6 students prefer medium coffee
6 students prefer medium coffee
6 students prefer medium coffee

In [140]:
#2c
dark = len([student['student'] for student in students \
            if student['coffee_preference'] == 'dark'])
print("%s students prefer dark coffee" % dark)

5 students prefer dark coffee

In [28]:
#3
sum([len(student['pets']) for student in students])

18

In [33]:
#4
[len(student['grades']) for student in students]

[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]

In [139]:
#5
names = [student['student'] for student in students]
averages = [
    sum(student['grades']) / len(student['grades']) \
    for student in students]
for i in range(0,len(names)):
    print(f"{names[i]}'s average is {averages[i]}")

Ada Lovelace's average is 78.5
Thomas Bayes's average is 83.5
Marie Curie's average is 73.25
Grace Hopper's average is 78.5
Alan Turing's average is 81.5
Rosalind Franklin's average is 80.75
Elizabeth Blackwell's average is 84.5
Rene Descartes's average is 88.75
Ahmed Zewail's average is 88.75
Chien-Shiung Wu's average is 82.5
William Sanford Nye's average is 81.5
Carl Sagan's average is 91.0
Jane Goodall's average is 79.0
Richard Feynman's average is 89.0

In [147]:
#6
num_pets = [
    len(student['pets']) for student in students]
num_pets

[1, 0, 1, 2, 3, 0, 1, 2, 2, 1, 2, 1, 1, 1]

In [103]:
#7
courses = [student['course'] for student in students]
courses
courses.count('data science')
courses.count('web development')

7

In [137]:
#8
web_dev_pets = [len(student['pets']) for student \
        in students if student['course'] == 'web development']
sum(web_dev_pets) / len(web_dev_pets)

1.2857142857142858

In [143]:
#9
has_pets = [
    student['pets'] for student in students \
    if student['course'] == 'data science' \
    and len(student['pets']) > 0]

pet_list = sum(has_pets, []) 

sum([pet['age'] for pet in pet_list]) / len(pet_list)

5.444444444444445

In [144]:
#10
ds_coffee_pref = [
    student['coffee_preference'] for student in students \
    if student['course'] == 'data science']
ds_coffee_pref
set(ds_coffee_pref)
max(set(ds_coffee_pref), key=ds_coffee_pref.count)

'medium'

In [145]:
#11
wd_coffee_pref = [
    student['coffee_preference'] for student \
    in students if student['course'] == 'web development']
wd_coffee_pref
min(set(ds_coffee_pref), key=ds_coffee_pref.count)

'dark'

In [154]:
#12
[sum(student['grades']) / len(student['grades']) for student \
 in students if len(student['pets']) > 1]

[78.5, 81.5, 88.75, 88.75, 81.5]

In [156]:
#13
num_pets.count(3)

1

In [157]:
#14
[sum(student['grades']) / len(student['grades']) for student \
 in students if len(student['pets']) < 1]

[83.5, 80.75]

In [159]:
#15
[sum(student['grades']) / len(student['grades']) for student \
 in students if student['course'] == 'web development']

[sum(student['grades']) / len(student['grades']) for student \
 in students if student['course'] == 'data science']

[83.5, 78.5, 80.75, 88.75, 88.75, 81.5, 91.0]

In [165]:
#16
grade_range = [max(student['grades']) - min(student['grades']) \
        for student in students \
        if student['coffee_preference'] == 'dark']
sum(grade_range) / len(grade_range)

28.8

In [169]:
#17
med_cof_pets = [len(student['pets']) for student in students \
        if student['coffee_preference'] == 'medium']
sum(med_cof_pets) / len(med_cof_pets)

1.1666666666666667

In [186]:
#18
wd_pets = [
    student['pets'] for student in students \
    if student['course'] == 'web development']
wd_pet_pref = sum(wd_pets, [])
wd_pet_pref_ages = [pet['age'] for pet in wd_pet_pref]
max(set(wd_pet_pref_ages), key=wd_pet_pref_ages.count)

6

In [ ]:
#19